<ion-content padding center text-center>

    <img src="assets/logo.jpg">
    <ion-card-header>
      <ion-card-title>Daftar Produk</ion-card-title>
    </ion-card-header>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      HONDA
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      YAMAHA
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      SUZUKI
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      KAWASAKI
    </ion-button>
  </ion-content>